[submodule "kdedistutils"]
	path = kdedistutils
	url = git://github.com/lunaryorn/kdedistutils.git
[submodule "tests/buildbindings"]
	path = tests/buildbindings
	url = git://github.com/lunaryorn/buildbindings.git
