[Desktop Entry]
Exec=kcmshell4 synaptiks
Icon=synaptiks
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=synaptiks/index.html

X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=synaptiks/kcm_synaptiks.py

X-KDE-System-Settings-Parent-Category=keyboard-and-mouse
X-KDE-System-Settings-Parent-Category-V2=input-devices
X-KDE-Weight=65

Name=Touchpad
Name[da]=Touchpad
Name[en_GB]=Touchpad
Name[es]=Touchpad
Name[km]=Touchpad
Name[nds]=Tastfeld
Name[pt]=Rato por Toque
Name[pt_BR]=Touchpad
Name[sv]=Tryckplatta
Name[uk]=Сенсорний пристрій
Name[x-test]=xxTouchpadxx

Comment=Touchpad settings and management
Comment[da]=Håndtering og indstilling af touchpad
Comment[en_GB]=Touchpad settings and management
Comment[es]=Gestión y configuración del touchpad
Comment[km]=ការកណត នងគរបគរង Touchpad
Comment[nds]=Tastfeld instellen un plegen
Comment[pt]=Configuração e gestão do rato por toque
Comment[pt_BR]=Configuração e gerenciamento do touchpad
Comment[sv]=Inställning och hantering av tryckplatta
Comment[uk]=Параметри та керування сенсорним пристроєм
Comment[x-test]=xxTouchpad settings and managementxx
