include COPYING README.rst CHANGES.rst
include synaptiks.desktop synaptiks.notifyrc
recursive-include synaptiks/ *.py *.ui
recursive-include autostart/ *.desktop
recursive-include services/ *.py *.desktop
recursive-include pics/ *.svgz
recursive-include po/ *.po *.pot
recursive-include doc/ *.py *.rst *.ico *.conf *.css_t
