include tox.ini bootstrap_native_bindings.py
include COPYING README.rst CHANGES.rst
include synaptiks.desktop synaptiks.notifyrc
global-include requirements.txt
recursive-include synaptiks/ *.py *.ui
recursive-include autostart/ *.desktop
recursive-include services/ *.py *.desktop
recursive-include pics/ *.svgz
recursive-include po/ *.po *.pot
recursive-include doc/ *.py *.rst *.ico *.png *.conf *.css_t
recursive-include doc/handbook *.docbook *.png
recursive-include tests/ *.py
