[Desktop Entry]
Type=Application
Exec=synaptikscfg init
Name=Synaptiks touchpad configuration
Comment=Initialize touchpad configuration
Terminal=false
