[Desktop Entry]
Exec=kcmshell4 kcm_synaptiks
Icon=synaptiks
Type=Service

X-DocPath=synaptiks/index.html

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=synaptiks/kcm_synaptiks.py

X-KDE-System-Settings-Parent-Category=keyboard-and-mouse
X-KDE-System-Settings-Parent-Category-V2=input-devices
X-KDE-Weight=65

Name=Touchpad

Comment=Touchpad configuration
